a {
    color: #91a5b0;
    text-decoration: none;
}

.control-section {
    position: absolute;
    left: 70px;
    top: 50px;
    width: 540px;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    background-color: #161a25;
    box-shadow: #14161b 0px 1px 30px 0px;
    will-change: transition;
    z-index: 999;
    color: #91a5b0;
    padding: 10px 0px;
    transition: 200ms;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: slideRight .3s ease;
}
@media (max-width:768px){
    .control-section{
        width:100% !important;
        left:0px !important
    }
}
@keyframes slideRight {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0);
    }
}

h3 {
    color: rgb(223, 245, 255)
}

.control-section .heading {
    height: 30px;
    border-bottom: 1px solid #455664;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 10px;
}

.heading h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;
}

.heading .cross {
    cursor: pointer;
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    z-index: 0;
    position: relative;
    /* padding-bottom:98px; */
}

.chat-wrapper {
    display: flex;
    flex: 1 1 0%;
    position: relative;
}

.scrollbar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.chat-box {
    position: absolute;
    min-height: 497px;
    max-height: 497px;
    overflow-Y: scroll;
    margin-right: -17px;
    margin-bottom: -17px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.message {
    padding: 0px 10px 10px 10px;
    display: flex;
    opacity: 1;
    border-bottom: 1px solid rgb(51, 67, 77);

}

.message.random:first-of-type {
    margin-top: 100px !important;
}

.message.permanent {
    background: rgb(52, 67, 77) none repeat scroll 0% 0%;
    border-bottom: 1px solid #78b5ed;
    max-width: 100%;
    position: absolute;
    top: 0;
    z-index: 999999;
}

.message .left {
    margin-right: 1rem;
    cursor: default;
    padding: 10px 0px;
}

.message .right {
    flex: 1 1 0%;
    line-height: 1.7rem;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90%;
}

.message>.right>.top {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(223, 245, 255);
    display: flex;
    flex: 1 1 0%;
    width: 100%;
}

.message>.right>.bottom {
    font-weight: 500;
    color: rgb(145, 165, 176);
    max-width: 100%;
    line-height: 18px;
    overflow-wrap: break-word;
}

.message-profile {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #82919D;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.message-profile i {
    font-size: 12px;
}

.chat-input {
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 100%;
    margin: auto;
    height: 100px;
    text-align: center;
    z-index: 11111;
}

.chat-input input {
    width: 95%;
    height: 47px;
    background: #34434d;
    border: 1px solid #34434d !important;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #dff5ff;
    padding: 10px;
}

.chat-input input:focus {
    background: none;
    border: 1px solid #34434d !important;
}

.chat-input button {
    width: 95%;
    height: 47px;
    background: #78b5ed;
    color: #fff;
    border: none;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 7px auto;
    border-radius: 5px;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1b242b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #343b41;
}

.control-content{
    height:100%;
    width:100%;
    position:relative;
}
.control-content .login-error{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.login-error i{
    margin:10px;
    font-size:25px;
    animation:shake 1s linear infinite;
    animation-delay:5s;
}
@keyframes shake{
    0%{transform: rotateZ(10deg);}
    20%{transform: rotateZ(-10deg);}
    40%{transform: rotateZ(10deg);}
    60%{transform: rotateZ(-10deg);}
    80%{transform: rotateZ(10deg);}
    100%{transform: rotateZ(-10deg);}
  }

.disabled-input{
    cursor:not-allowed !important;
    position:relative;
    user-select: none;
}
.disabled-input::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:-10%;
    background:rgba(22, 26, 37,0.97);
    border:1px solid #34434d
}
.disabled-input input{
    cursor:not-allowed !important;
}
.disabled-input button{
    cursor:not-allowed !important;
}

.login-popup-error{
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%);
    font-size:13px;
    font-weight:500;
    z-index:9999999
}
.login-popup-error span{
    color:#78b5ed
}