.side-nav{
    height:100%;
    width:70px;
    background:#161a25;
    position:absolute;
    top:0;
    left:0;
    flex-direction:column;
    padding-top:20px;
    border-right:1px solid #181d29;
    z-index:99999;
}
.toggle-btn{
    position:absolute;
    top:0;
    left:0;
    color:#fff;
    font-size:20px;
    z-index:99;
    cursor: pointer;
    display: none;
    transition:.3s ease;
    background:transparent;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 50px;
}
.toggle-btn-active{
    left:70px !important;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-justify{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-profile{
    height:40px;
    width:40px;
    border-radius:50%;
    border:2px solid #fff;
    overflow: hidden;
    text-align:center;
    cursor:pointer;
}
.user-profile i{
    font-size:25px;
    color:#fff;
}
.side-navigation-links{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    max-width:50px;
    padding:0;
}
ul .side-link-wrap{
    width: 100%;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    transition: .3s ease;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    margin: 10px auto;
    outline:none;
}
ul .side-link-wrap:active{
    border:none;
}
.active-tab{
    position: relative;
}
.active-tab li{
    color:#78b5ed !important;
    background:#2c3a44 !important;
    border-color:transparent !important
}
.active-tab::before{
    content:'';
    position:absolute;
    top:0;
    left:-9px;
    height:100%;
    width:4px;
    background:#78b5ed;
}
ul .side-link{
    list-style: none;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
    color: #fff;
    font-size: 20px;
    transition:.3s ease;
    cursor:pointer;
    position:relative;
}
ul .side-link:hover{
    background:#2c3a44;
    border-color:transparent;

}
ul .side-link:active{
    color:#78b5ed

}ul .active-link{
    color:#78b5ed
}
.tab-tooltip{
    position: absolute;
    top: 50%;
    left: 132%;
    transform: translateY(-50%);
    background:#2c3a44;
    transition: .2s ease;
    padding: 4px;
    border-radius: 4px;
    color: rgb(223, 245, 255);
    font-size: 13px;
    text-align:center;
    border:1px solid #455664;
    white-space: nowrap;
}
.nav-toggled{
    transform:translateX(0) !important;
}

/* responsive*/
@media (max-width:768px){
    .side-nav{
        transform: translateX(-100%);
        transition:.3s ease;
    }
    .toggle-btn{
        display: block
    }
}