.top-nav{
    height:50px;
    width:calc(100% - 70px);
    position:absolute;
    left:0;
    margin-left:70px;
    top:0;
    background:rgb(44, 58, 68) none repeat scroll 0% 0%;
    color:#dff5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index:99;
    border-bottom:1px solid #455664;
}
.logo,
.user{
    cursor:pointer;
}
.logo{
    letter-spacing: 1px;
}
.user p{
    margin-right: 10px;
}