.top-nav{
    height:50px;
    width:calc(100% - 70px);
    position:absolute;
    left:0;
    margin-left:70px;
    top:0;
    color:#dff5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index:99;
    border-bottom:1px solid #1d2230;
}
.logo,
.user{
    cursor:pointer;
    margin:auto 20px;
}
.logo{
    letter-spacing: 1px;
    color:#fff;
    font-size:18px;
}
.user p{
    margin-right: 5px;
}
.swing{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -25px;
}
.swing button{
    font-size: 16px;
    color: black;
    letter-spacing: 0.3em;
    border: 1px solid rgba(255,255,255,0.33);
    padding: 12px 30px;
    box-sizing: border-box;
    -moz-transition: all 0.5s cubic-bezier(0.37, 0.075, 0.265, 1);
    -o-transition: all 0.5s cubic-bezier(0.37, 0.075, 0.265, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.37, 0.075, 0.265, 1);
    transition: all 0.5s cubic-bezier(0.37, 0.075, 0.265, 1);
    width: 170px;
    text-align: center;
    background:#fff;
    margin-top:33px;
    margin-left:15px;
    cursor:pointer;
    font-family:gamebox;
    letter-spacing:2px;
}
/* .swing button:hover{
    color: #000;
    -moz-box-shadow: gray 0 0 0 25px inset;
    -webkit-box-shadow: gray 0 0 0 25px inset;
    box-shadow: gray 0 0 0 25px inset;
    border: 1px solid gray;
} */
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: 20px; 
    left: 53%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -11px;
    left: 54%;
    transform:rotate(45deg);
    z-index: 5;
    background: rgb(209, 209, 209);
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
/* responsive*/
@media (max-width:768px){
    .top-nav{
        margin-left:0 !important;
        width:100% !important;
        justify-content: center;
    }
}