@font-face {
  font-family: gamebox;
  src: url('./fonts/28\ Days\ Later.ttf');
}
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
.flex{
  display: flex;
  align-items: center;
}
.flex-justify{
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  color:#fff;
}
body{
  overflow: hidden !important;
}
h1,h2,h3,h4,h5,h6{
  font-family:gamebox;
}



/* ANIMATIONS (used with React Transition Group)*/
/*SLIDE IN SLIDE OUT */
.slidein-slideout-appear {
  opacity: 0;
  transform: scale(0.7);
}
.slidein-slideout-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.slidein-slideout-enter {
  opacity: 0;
  transform: scale(0.7) translateX(-400px);
}
.slidein-slideout-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0px);
  transition: opacity 300ms, transform 300ms;
}
.slidein-slideout-exit {
  opacity: 1;
}
.slidein-slideout-exit-active{
  transform: scale(0.7) translateX(400px);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.slidein-slideout-exit-done{
  opacity:0
}
/* */

/*SLIDE IN TOP SLIDE OUT */
.slideintop-slideout-appear {
  transform: translateY(-100%);
}
.slideintop-slideout-appear-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 300ms, transform 500ms ease-in-out;
}
.slideintop-slideout-enter {
  transform: translateY(-100%);
}
.slideintop-slideout-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 300ms, transform 500ms ease-in-out;
}
.slideintop-slideout-exit {
  opacity: 1;
}
.slideintop-slideout-exit-active{
  transform: translateY(-100%);
  transition: opacity 300ms, transform 500ms ease-in-out;
}
.slideintop-slideout-exit-done{
  opacity:0
}
/* */
/* SLIDE IN FADE OUT */
.slidein-fadeout-appear {
  opacity: 0;
  transform:translateY(100%);
}
.slidein-fadeout-appear-active {
  opacity: 1;
  transform:translateY(0%);
  transition: opacity 300ms, transform 300ms;
}
.slidein-fadeout-enter {
  opacity: 0;
  transform:translateY(100%);
}
.slidein-fadeout-enter-active {
  opacity: 1;
  transform:translateY(0%);
  transition: opacity 300ms, transform 300ms;
}
.slidein-fadeout-exit {
  opacity: 1;
}
.slidein-fadeout-exit-active{
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.slidein-fadeout-exit-done{
  opacity:0
}
/* */

/* FADE IN FADE OUT */
.fadein-fadeout-appear {
  opacity: 0;
  transform: scale(0.97);
}
.fadein-fadeout-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms, transform 250ms;
}
.fadein-fadeout-enter {
  opacity: 0;
  transform: scale(0.97);
}
.fadein-fadeout-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms, transform 250ms;
}
.fadein-fadeout-exit {
  opacity: 1;
}
.fadein-fadeout-exit-active{
  opacity: 0;
  transform:scale(0.97);
  transition: opacity 250ms, transform 250ms;
}
.fadein-fadeout-exit-done{
  opacity:0
}
/* */

.shake{
  animation:shake .6s linear;
}
@keyframes shake{
  0%{transform: rotateZ(10deg);}
  20%{transform: rotateZ(-10deg);}
  40%{transform: rotateZ(10deg);}
  60%{transform: rotateZ(-10deg);}
  80%{transform: rotateZ(10deg);}
  100%{transform: rotateZ(-10deg);}
}

@keyframes blurPopup {
  0% {
      opacity: 0;
      transform:scale(0.96)
  }

  100% {
      opacity: 1;
      transform:scale(1)
  }
}



/* animation end*/
