*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
.flex{
  display: flex;
  align-items: center;
}
.flex-justify{
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  color:#fff;
}
body{
  overflow: hidden !important;
}